.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border: 13px;
  position: fixed;
  border-radius: 13px;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  z-index: 99;
}
.navbar-logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  align-items: center;
  list-style: none;
}
.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.7rem 1rem;
}
.nav-links i {
  padding-right: 10px;
}
.nav-links:hover {
  color: #fff;
  background-color: #01959a;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.nav-links-mobile {
  display: none;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
button:hover {
  color: #fff;
  background-color: #151516;
}
.menu-icons {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: stretch;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    left: -100%;
    background-color: #fff;
    padding: 80px 30px 0px;
    margin: 0px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
  }
  .nav-menu.active {
    left: 0px;
    opacity: 1;
    z-index: -1;
  }
  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0rem;
  }
  .nav-links:hover {
    background-color: #01959a;
    transition: none;
  }
  button {
    display: none;
  }
  .nav-links-mobile {
    display: block;
    width: 80%;
    padding: 1.5rem;
    text-align: center;
    margin: auto;
    border-radius: 4px;
    text-decoration: none;
    background-color: #01959a;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2rem 0rem;
  }
  .menu-icons {
    display: block;
  }
}
